.header{
    background-color: rgb(139, 255, 139);
    border: 1px solid black;
    text-align: center;
}
body {
    background-color: rgb(42, 84, 97);
  }
  
.form-container {
    text-align: center;
    margin: .5rem .5rem;
  }
.results-container{
    display: flex;
    flex-direction: column;
}
.math-output{
    background-color: grey;
    border: 1px solid black;

    width: 200px;
    margin: auto;
    text-align: center;
}
input{
    font-size: 1rem;
}

.equation-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
    border: 1px solid black;
    background-color: rgb(63, 252, 46);
    padding: .5rem;
    margin: .5rem .5rem;
}

.card > .header{
    margin: .5rem;
    font-size: 1rem;
}

.card > .body {
    font-size: .8rem;
    color:rgb(0, 0, 0);
    margin: .75rem .75rem;
    
    
}

.hide {
    display: none;
}